* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(50, 49, 49);
    background-color: #fcf9f9;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-style: normal;
  }

/* Header  */

header {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #f8f1ed;
    width: 100%;
    display: flex;
    justify-content: space-around;    
}

.logo{
    font-family: 'Lemonada', cursive;
    font-size: 1.1rem;
    padding-top: 0.6rem;
    color: #d87d75;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 1.5rem 0;
    font-size: 1.3rem;
    font-weight: 600;
}

.navigation-item {
    margin-right: 2rem;
}

.navigation a {
    text-decoration: none;
    color: rgb(50, 49, 49);
}

/* About me */

main {
    width: 80%;
    margin: 90px auto 0 auto;
}

.container {
    margin: 2rem auto;
    display: flex;
    justify-content: space-evenly;
}

#info-about-me {
    width: 50%;
    padding: 2%;
    margin-top: 1rem;
    font-size: 1.15rem;
}

.title {
    font-weight: 600;
    font-size: 2rem;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 5%;
}

#descr-1 {
    font-size: 1.3rem;
    margin-bottom: 1.1rem;
}

#descr-2 {
    margin-bottom: 0.5rem;
}

.portfolio-image img {
    height: auto;
    border-radius: 50%;
    border: 6px solid #dbaba8;
    width: 250px;
    height: auto;
    margin-top: 3.5rem;
}

/* My projects */
.container-projects {
    padding: 3rem 1rem;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.project-info {
    /* display: flex; */
    margin: 15px;
    display: none;
}

.project-info img {
    max-width: 600px;
    height: auto;
    margin: 2rem;
}

.project h4 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
    cursor: pointer;
}

.project i {
    font-size: 1.1rem;
}

.project-descr {
    width: 300px;
    margin-left: 5rem;
    font-size: 1.15rem;
    align-self: center;
}